rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /club_vencedores_data/{collection} {
      allow read: if true; 
      allow write: if true; 
    }
  }
}
